<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PhotoGallary</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script 
  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/utils.js"></script>
  <script type="text/javascript">
    $(function(){

        var host = '{{host}}';
        $(document).on('click', '#doUpload', function () {
            //alert("123"+ host);
            upload();
        })

        function upload() {
            $('.progress').fadeIn(100);
            var uploadURL = host + '/upload';
            var uploadFile = $('.uploadPic');
            if (uploadFile.val() != '') {
                var form = new FormData ();
                form.append("upload", uploadFile[0].files[0]);
                // upload file to node backend by doing ajax call from front-end
                ajax({
                    method: 'post',
                    url: uploadURL,
                    success: function () {
                        $('.progress').fadeOut(200);
                        uploadFile.val('');
                    },
                    progress: function(e) {
                        if (e.lengthComputable) {
                            var perc = Math.round((e.loaded * 100) / e.total);
                            $('.progress').css('width', (perc + '%'));
                        }
                    },
                    payload: form
                })
            }
        }
    })
  </script>
</head>
<body>

	<div class="container">
		<div class="topDeck">
			<div class="logo">
				<h1>PhotoGallery</h1>
			</div>
			<div class="controls">
				<input type="file" name="uploadPic" class="uploadPic">
				<button id="doUpload">Upload</button>
				<div class="progressBarDiv">
					<div class="progress" ></div>
				</div>
				<h5 class="status"></h5>
			</div>
		</div>
		<div class="gallery">
			<ul>
				<!-- Repeat the following <li> structure for every image -->
				 <li>
					<div class="overlay">
					<div class="voteCtrl">
						<a href="#" class="voteUp">
							<img src="/images/like.png" alt="Click Here to Like !">
							<h4>100</h4>
						</a>
					</div>
					</div>
					<div class="imageHolder">
						<img src="/images/someimage.jpg" alt="">
					</div>
					<div id="tags" style="display:none">
						<p> <b>Tags </b></p>
					</div>
				</li> 
				<!-- End Repeat -->
			</ul>
		</div>
	</div>


<!--<input type="file" id="file_input"/>
<p id="status">Select a file</p>
<img id="preview" src="/images/default.png" />

<div id="tags" style="display:none">
  	
  <p> <b>Tags </b></p>
</div> -->

<script type="text/javascript">

function tagImages(file) {
    console.log("tagImages "+ file.name);
	var params = "file="+file.name;
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/recognize?file_name="+file.name);
	xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            if(xhr.status === 200){
			    var response = JSON.parse(xhr.responseText);
				console.log("rekognition labels", response);
				populateTags(response);
            }
            else{
                alert("Could not call aws rekognition ");
            }
        }
    };
    xhr.send();
    
}

function populateTags(responseArr) {
    console.log("populateTags");
	var html = "";
	for (var entry in responseArr) {
	    console.log("Name", responseArr[entry].Name);
		var items="<li>"+responseArr[entry].Name+"</li>";
		html = html + items;
	}
	
    document.getElementById("tags").style.display = 'inline';
    document.getElementById("tags").innerHTML = "<ul>"+html+"</ul>";
}

// Function to PUT request to S3 using the signed request from the app
function upload_file(file, signed_request, url){
    var xhr = new XMLHttpRequest();
    xhr.open("PUT", signed_request);
    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            if(xhr.status === 200){
                document.getElementById("preview").src = url;
				tagImages(file);
            }
            else{
                alert("Could not upload file");
            }
        }
    };
    xhr.send(file);
}


// Get the temporary signed request from the app.
// If request successful, upload the file using this signed request
function get_signed_request(file){
    console.log("Attempting to get signed request");
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                upload_file(file, response.signed_request, response.url);
            }
            else{
                alert("Could not get signed URL");
            }
        }
    };
    xhr.send();
}


// Start upload procedure when file input changes
function init_upload(){
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(file == null){
        alert("No file selected");
        return;
    }
    get_signed_request(file);
}

// Bind listeners
(function() {
    document.getElementById("tags").visibility = 'hidden';
    document.getElementById("file_input").onchange = init_upload;
})();

</script>
</body>
</html>
