<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PhotoGallary</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script 
  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/utils.js"></script>
  <script type="text/javascript">
    $(function(){

        var host = '{{host}}';

        // this is to load the initial page with existing images
        renderImages ();

        $(document).on('click', '#doUpload', function () {
            //alert("123"+ host);
            upload();
        })

        var socket = io(host);
        socket.on('status', function(data){
            showStatus(data.msg, data.delay);
        })

        socket.on('doUpdate', function() {
            console.log('Render the List in UI now ');
            renderImages();
        })

        function renderImages () {
            console.log('... Inside renderImages ...');
            $('.gallery ul').html('');
                ajax({
                    url: host + '/getimages',
                    success:function(data){
                        var imageList = JSON.parse(data.response);
                        console.log('... imageList ...', imageList);
                        renderUI (imageList);
                    }
                })             
        }

        function renderImagesByTag (imageList) {
            $('.gallery ul').html('');
            renderUI (imageList);
        }

        function upload() {
            $('.progress').fadeIn(100);
            var uploadURL = host + '/upload';
            var uploadFile = $('.uploadPic');
            if (uploadFile.val() != '') {
                var form = new FormData ();
                form.append("upload", uploadFile[0].files[0]);
                // upload file to node backend by doing ajax call from front-end
                ajax({
                    method: 'post',
                    url: uploadURL,
                    success: function () {
                        $('.progress').fadeOut(200);
                        uploadFile.val('');
                    },
                    progress: function(e) {
                        if (e.lengthComputable) {
                            var perc = Math.round((e.loaded * 100) / e.total);
                            $('.progress').css('width', (perc + '%'));
                        }
                    },
                    payload: form
                })
            }
        }


        $(document).on('click', '.like', function(e){
            console.log('Like clicked');
            var that = $(this);
            console.log('like button clicked = ', that.data('photoid'));
            var URL = host + '/like/' + that.data('photoid');
            console.log('URL = ', URL);
            ajax({
                url: URL,
                success:function(data){
                    var parseData = JSON.parse(data.response);
                    that.find('h4').html(parseData.likes);
                }
            })
        })

        $(document).on('click', '.showTag', function(e){
            console.log('Tag clicked');
            var that = $(this);
            console.log('tag clicked = ', that.data('tagname'));
            var tagURL = host + '/getimages/' + that.data('tagname');
            console.log('URL = ', tagURL);
            ajax({
                url: tagURL,
                success:function(data){
                    var imageList = JSON.parse(data.response);
                    console.log(' parseData = ', imageList);
                    renderImagesByTag (imageList);
                }
            })
        })

    })
  </script>
</head>
<body>

	<div class="container">
		<div class="topDeck">
			<div class="logo">
				<h1>PhotoGallery</h1>
			</div>
			<div class="controls">
				<input type="file" name="uploadPic" class="uploadPic">
				<button id="doUpload">Upload</button>
				<div class="progressBarDiv">
					<div class="progress" ></div>
				</div>
				<h5 class="status"></h5>
			</div>
		</div>
		<div class="gallery">
			<ul>
				<!-- Repeat the following <li> structure for every image -->
				<!--<li>
					<div class="overlay">
					<div class="voteCtrl">
						<a href="#" class="like">
							<img src="/images/like.png" alt="Click Here to Like !">
							<h4>100</h4>
						</a>
					</div>
					</div>
					<div class="imageHolder">
						<img src="/images/someimage.jpg" alt="">
					</div>
                    <div class="tags">
                        <ul>
                            <li>
                                <a href="#" class="showTag">
                                    <h4>Mountain</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="showTag">
                                    <h4>Outdoor</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="showTag">
                                    <h4>Car</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="showTag">
                                    <h4>Canine</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="showTag">
                                    <h4>Flower</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
				</li> -->
                
				<!-- End Repeat -->
			</ul>
		</div>
	</div>
</body>
</html>
