<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PhotoGallary</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script 
  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/utils.js"></script>
  <script type="text/javascript">
    $(function(){

        var host = '{{host}}';
        $(document).on('click', '#doUpload', function () {
            //alert("123"+ host);
            upload();
        })

        var socket = io(host);
        socket.on('status', function(data){
            showStatus(data.msg, data.delay);
        })

        socket.on('doUpdate', function() {
            console.log('Render the List in UI now ');
            renderImages();
        })

        function renderImages () {
            $('.gallery ul').html('');
                ajax({
                    url: host + '/getimages',
                    success:function(data){
                        var imageList = JSON.parse(data.response);
                        for(var i = 0; i < imageList.length; i++){
                            console.log('... In renderImages function ...');
                            console.log('tags = ',imageList[i].tags);
                            var str = '<li>';
                            str += '<div class="overlay">';
                            str += '<div class="voteCtrl">';
                            str += '<a href="#" data-photoid="' + imageList[i].id + '" class="like">';
                            str += '<img src="../images/like.png" alt="Click Here to Like !">';
                            str += '<h4>' + imageList[i].likes + '</h4>';
                            str += '</a>';
                            str += '</div>';
                            str += '</div>';
                            str += '<div class="imageHolder">';
                            str += '<img src="https://s3.amazonaws.com/la-image-tagger-chakrar27/' + imageList[i].filename + '" alt="">';
                            str += '</div>';
                            str += '<div class="tags">';
                            str += '<a href="#" tag-id="' + imageList[i].tags + '" class="showTag">';
                            str += '<h4>' + imageList[i].tags + '</h4>';
                            str += '</a>';
                            str += '</div>';
                            str += '</li>';
                            $('.gallery ul').append(str);
                        }
                    }
                })            
        }

        function upload() {
            $('.progress').fadeIn(100);
            var uploadURL = host + '/upload';
            var uploadFile = $('.uploadPic');
            if (uploadFile.val() != '') {
                var form = new FormData ();
                form.append("upload", uploadFile[0].files[0]);
                // upload file to node backend by doing ajax call from front-end
                ajax({
                    method: 'post',
                    url: uploadURL,
                    success: function () {
                        $('.progress').fadeOut(200);
                        uploadFile.val('');
                    },
                    progress: function(e) {
                        if (e.lengthComputable) {
                            var perc = Math.round((e.loaded * 100) / e.total);
                            $('.progress').css('width', (perc + '%'));
                        }
                    },
                    payload: form
                })
            }
        }


        $(document).on('click', '.like', function(e){
            console.log('Like clicked');
            //var that = $(this);
            /*ajax({
                url: host + '/voteup/' + that.data('photoid'),
                success:function(data){
                    var parseData = JSON.parse(data.response);
                    that.find('h4').html(parseData.votes);
                }
            }) */
        })

        $(document).on('click', '.showTag', function(e){
            console.log('Tag clicked');
            /*var that = $(this);
            ajax({
                url: host + '/voteup/' + that.data('photoid'),
                success:function(data){
                    var parseData = JSON.parse(data.response);
                    that.find('h4').html(parseData.votes);
                }
            })*/
        })

    })
  </script>
</head>
<body>

	<div class="container">
		<div class="topDeck">
			<div class="logo">
				<h1>PhotoGallery</h1>
			</div>
			<div class="controls">
				<input type="file" name="uploadPic" class="uploadPic">
				<button id="doUpload">Upload</button>
				<div class="progressBarDiv">
					<div class="progress" ></div>
				</div>
				<h5 class="status"></h5>
			</div>
		</div>
		<div class="gallery">
			<ul>
				<!-- Repeat the following <li> structure for every image -->
				<!--<li>
					<div class="overlay">
					<div class="voteCtrl">
						<a href="#" class="like">
							<img src="/images/like.png" alt="Click Here to Like !">
							<h4>100</h4>
						</a>
					</div>
					</div>
					<div class="imageHolder">
						<img src="/images/someimage.jpg" alt="">
					</div>
                    <div class="tags">
                            <a href="#" class="showTag">
                                <h4>Mountain</h4>
                            </a>
                    </div>
				</li>-->
                
				<!-- End Repeat -->
			</ul>
		</div>
	</div>
</body>
</html>
